.table-oro{
    font-size: smaller;
    padding: 0;
}

.table-oro>tbody>tr>td{
    vertical-align: middle;
}

.table-oro>tbody>tr>td {
    padding: 4px;
}

#tarea-table>tbody>tr>td, #tarea-table > thead> tr{
    padding: 2px!important;
    vertical-align: middle!important;
    font-size: 12px;
    text-align: left;
}
#submit-filtro{
    margin: 5px
}
#submit-filtro > button{
    float: right!important;
}

.parpadea {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes flash {
    0%, 50%, 100% {
        opacity: 1;
        color: #ffffff;
    }
    25%, 75% {
        opacity: 0;
        color: black;
    }
}
@keyframes flash {
    0%, 50%, 100% {
        opacity: 1;
        color: #ffffff;
    }
    25%, 75% {
        opacity: 0;
        color: black;
    }
}
.flash {
    -webkit-animation-name: flash;
    animation-name: flash;
}
